{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="display-5">Studentai</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Tomas&amp;utm_term=Elena&amp;utm_content=Po%20pamok%C5%B3">Elena</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Tomas&amp;utm_term=Just%C4%97&amp;utm_content=Po%20pamok%C5%B3">Justė</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Tomas&amp;utm_term=Deimantas&amp;utm_content=Po%20pamok%C5%B3">Deimantas</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Sergej&amp;utm_term=Matas&amp;utm_content=Tech%20Guide">Matas</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Sergej&amp;utm_term=Martynas&amp;utm_content=Tech%20Guide">Martynas</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Rokas&amp;utm_term=Zbignev&amp;utm_content=Kelion%C4%97s%20draugas">Zbignev</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Rokas&amp;utm_term=Aist%C4%97&amp;utm_content=Kelion%C4%97s%20draugas">Aistė</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Aistis&amp;utm_term=Nerijus&amp;utm_content=Wish%20A%20Gift">Nerijus</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Aistis&amp;utm_term=Olga&amp;utm_content=Wish%20A%20Gift">Olga</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Paulius&amp;utm_term=Egl%C4%97&amp;utm_content=Mums%20pakeliui">Eglė</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Paulius&amp;utm_term=Svetlana&amp;utm_content=Mums%20pakeliui">Svetlana</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Audrius&amp;utm_term=Viktoras&amp;utm_content=Motyvacin%C4%97%20platforma">Viktoras</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Audrius&amp;utm_term=Airidas&amp;utm_content=Motyvacin%C4%97%20platforma">Airidas</a>
        </li>
        <li class="list-group-item"><a href="http://127.0.0.1:8800/academy?utm_source=akademija&amp;utm_campaign=Pats%20sau&amp;utm_term=Aurelijus&amp;utm_content=Lektoriai">Aurelijus</a>
        </li>
    </ul>

{% endblock %}
