{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="display-5">Studentai</h1>
    <ul class="list-group">
        {% for key, info in academyInfo %}
            {% for member in info['members'] %}
                <li class="list-group-item">
                    <a href="{{ path('grades', {
                        'utm_source': 'akademija',
                        'utm_campaign': info['mentor'],
                        'utm_term': member,
                        'utm_content': key })
                    }}">{{ member }}</a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}
